.contact {
  position: relative;
  margin-bottom: 14px;

  &--email:hover::after {
    background-image: url("../img/icon-mail-hover.svg");
  }

    &--telephone:hover::after {
    background-image: url("../img/icon-phone-hover.svg");
  }

  &::after {
    content: "";
    display: block;
    position: absolute;

    width: 17px;
    height: 13px;

    top: 16px;
    right: 17px;

    background-repeat: no-repeat;
  }

  &--email::after {
    background-image: url("../img/icon-mail.svg");
  }

  &--telephone::after {
    width: 20px;
    height: 20px;

    top: 13px;
    right: 14px;

    background-image: url("../img/icon-phone.svg");
  }
}

.contact__label {
  display: flex;
}

.contact__title {
  margin-right: 12px;
  padding-top: 2px;

  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  color: @txt-color-base;
  text-transform: uppercase;
  white-space: nowrap;

  &--telephone {
    margin-right: 10px;
  }
}

.contact__field {
  position: relative;
  width: 100%;

  padding-left: 14px;
  padding-top: 1px;
  padding-bottom: 2px;
  margin-right: 1px;

  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;

  border: 1px solid @border-color-spec-half;

  &::placeholder {
    color: @txt-color-spec;
  }

  &:hover {
    border: 1px solid @border-color-spec-half;
    outline: none;
  }

  &:focus {
    padding-left: 13px;
    line-height: 38px;
    border: 2px solid @txt-color-spec;
    outline: none;
  }

  &:error {
    padding-left: 13px;
    line-height: 38px;
    border: 2px solid #ff8282;
    outline: none;
  }

  &--telephone {
    padding-left: 15px;

    &:focus {
      padding-left: 14px;
    }
  }
}

@media (min-width: @tablet-width) {
  .contact {
    margin-left: 7px;
    margin-bottom: 20px;

    &--telephone {
      margin-left: 4px;
    }

    &::after {
      top: 20px;
      right: 22px;
    }

    &--telephone::after {
      top: 17px;
      right: 19px;
    }
  }

  .contact__title {
    padding-top: 15px;
    margin-right: 18px;
    font-size: 20px;
    line-height: 20px;

    &--telephone {
      margin-right: 15px;
    }
  }

  .contact__field {
    padding-bottom: 1px;
    padding-left: 20px;
    padding-right: 55px;
    font-size: 20px;
    line-height: 48px;

    border: 1px solid @border-color-spec-half;

    &:focus {
      padding-left: 19px;
      line-height: 46px;
    }
  }
}

@media (min-width: @desktop-width) {
  .contact {
    margin-left: 2px;

    &::after {
      right: 21px;
    }

    &--telephone::after {
      right: 20px;
    }
  }

  .contact__title {
    margin-right: 21px;
    margin-left: -1px;

    &--telephone {
      margin-left: 31px;
      margin-right: 17px;
    }
  }

  .contact__field {
    padding-left: 18px;
    width: 486px;

    box-sizing: border-box;
    border: 1px solid @border-color-spec-half;

    &--telephone {
      width: 471px;
    }

    &:focus {
      padding-left: 17px;
    }
  }
}
