.example {
  background-color: #f2f2f2;
  margin-top: 45px;
  padding-top: 1px;
}

.example__wrapper {
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}



.example__title {
  margin-top: 17px;
  margin-bottom: 23px;

  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  color: #111111;
  letter-spacing: 0.2px;
}

.example__paragraph {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #444444;
}

.expenses {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 34px;
}

.expenses__wrapper {
  padding: 0 20px;
  margin: 0 auto;
}

.expenses__list {
  display: flex;
  justify-content: space-between;

  list-style: none;

  padding: 0;
  margin-bottom: 10px;
}

.expenses__item {
  text-align: center;

  min-width: 124px;
}

.expenses__info {
  display: block;

  padding-top: 13px;
  padding-bottom: 17px;
  margin-top: 9px;
  margin-bottom: 0;

  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: #111111;
  text-transform: uppercase;

  border: 1px solid #cdcdcd;
  border-radius: 2px;
}

.expenses__title {
  position: relative;
  display: inline-block;

  margin: 0;
  padding: 0 17px;
  top: -9px;

  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  color: #444444;

  background-color: #f2f2f2;
}

.expenses__total {
  margin: 5px auto;

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #111111;
  letter-spacing: -0.1px;
  text-align: center;
  text-transform: uppercase;
}
