.footer-bottom__logo-link {
  display: block;
  text-align: center;
  margin-top: 39px;
  margin-bottom: 29px;
}

@media (min-width: @tablet-width) {
  .footer-bottom {
    display: flex;
    justify-content: space-between;

    padding: 0 30px;
    padding-top: 58px;
    margin: 0 auto;

    height: 150px;
  }

  .footer-bottom__logo-link {
    margin-top: 6px;
    margin-left: 1px;
  }
}
