.form__title {
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 39px;

  width: 280px;

  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #111111;
  text-transform: uppercase;
  letter-spacing: -0.1px;
}

.form__fieldset {
  border: none;
  padding: 0;
  margin-bottom: 9px;
}

.form__submit {
  display: block;

  margin: 0 auto;
  margin-bottom: 21px;
  padding-top: 1px;
  padding-right: 5px;
  width: 280px;

  font-size: 16px;
  font-weight: 400;
  line-height: 38px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -0.2px;

  background-color: #68b738;
  border: none;
}

.form__obligatory-fields {
  display: block;
  margin-bottom: 32px;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #444444;
  text-align: center;
}
