.gift{
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
  margin-bottom: 35px;
}

.gift__title {
  padding-top: 65px;
  padding-bottom: 42px;
  padding-right: 2px;


  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
  text-align: center;

  background-image: url(../img/gift-photo-mobile@1x.jpg);
  background-color: #75b94c;
  background-position: center;
  background-repeat: no-repeat;

  &::before {
    content: "";
    display: block;

    width: 55px;
    height: 60px;

    margin: 0 auto;
    margin-bottom: 62px;

    background-image: url(../img/icon-gift.svg);
    background-repeat: no-repeat;
  }
}
