.invation-dealers {
  margin: 0 auto;
  padding-top: 28px;

  &--index {
    background-color: #fff;
  }
}

.invation-dealers__wrapper {
  display: flex;

  width: 280px;

  padding: 0 20px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.invation-dealers__title {
  min-width: 130px;

  margin-bottom: 0;
  margin-left: -1px;
  margin-right: 12px;
  margin-top: 0;

  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: @txt-color-main;
  text-transform: uppercase;
  letter-spacing: -0.1px;
}

.invation-dealers__address {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: @txt-color-spec;

  margin-top: 0;
  margin-bottom: 0;
}

.invation-dealers__map {
  display: block;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .invation-dealers__wrapper {
    display: flex;
    justify-content: space-between;

    padding: 0 70px;
    width: auto;
  }

  .invation-dealers__title {
    margin-left: 1px;
    font-size: 20px;
    line-height: 25px;
    color: @txt-color-main;
  }
}
