.nutrition {
  margin-bottom: 22px;
}

.nutrition__wrapper {
  display: block;
  position: relative;

  min-height: 305px;

  text-align: center;

  margin: 0 auto;
  margin-bottom: 135px;

  background-image: url(../img/index-background-mobile@1x.jpg);
  background-position-x: center;
  background-color: @bg-color-nutition-wrapper;
  background-repeat: no-repeat;
}

.nutrition__title {
  margin: 0;
  padding-top: 27px;

  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.1px;
  color: #fff;
}

.nutrition__slogan {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -0.1px;

  margin-top: 25px;
  margin-bottom: 28px;
  margin-right: 3px;
}

.nutrition__img {
  position: absolute;

  left: calc(50% - 140px);
  bottom: 236px;

  &--tablet {
    display: none;
  }

    &--desktop {
    display: none;
  }
}

.nutrition__link {
  display: block;

  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -0.1px;
  padding-right: 3px;
  text-decoration: none;
  text-align: center;

  width: 277px;

  margin: 0 auto;
  margin-top: 1px;

  background-color: @bg-color-spec;
}

@media (min-width: @tablet-width) {
  .nutrition {
    padding: 0 30px;
    padding-bottom: 529px;
    margin: 0 auto;
  }

  .nutrition__wrapper {
    position: relative;

    margin-left: 89px;
    margin-bottom: 48px;

    min-height: 50px;

    text-align: left;
    background: none;
  }

  .nutrition__title {
    margin-top: 53px;
    margin-left: -2px;
    margin-right: 150px;
    padding: 0;

    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    color: @txt-color-main;
    letter-spacing: -0.2px;
  }

  .nutrition__slogan {
    margin-top: 41px;
    margin-bottom: 48px;
    margin-left: -1px;

    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    color: @txt-color-main;
  }

  .nutrition__img {
    display: none;

    &--tablet {
      display: block;
      position: absolute;

      bottom: -30px;
      right: 30px;

      z-index: -1;
    }

    &--desktop {
      display: none;
    }
  }

  .nutrition__link {
    margin-left: 89px;
    padding-bottom: 2px;
    width: 242px;

    font-size: 20px;
    font-weight: 400;
    line-height: 50px;
    color: #fff;

  }
}
