.page-footer {
  background-color: @bg-color-main;
}

.page-footer__wrapper {
  background-color: @bg-color-main;
  padding-top: 1px;
}

@media min-width(@desktop-width) {
  .page-footer {
    padding-bottom: 28px;
  }
}
