.page-header {
  position: relative;
  margin: 0 auto;
  margin-top: 14px;
}

.page-header__wrapper {
  position: relative;
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
  padding-bottom: 11px;
}

.page-header__button-nav-burger {
  display: inline-block;
  position: absolute;

  right: 20px;
  top: 9px;

  border: 0;
  width: 24px;
  height: 18px;

  margin-left: auto;

  background-image: url(../img/icon-mobile-menu.svg);
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0);
}
