.program-result__wrapper {
  width: 320px;
  display: flex;
  margin-left: -20px;
  overflow: hidden;
}

.program-result__cat {
  display: block;
}

.program-result__changer {
  display: flex;
  align-items: center;
  width: 275px;
  justify-content: center;

  padding-left: 5px;
  padding-bottom: 36px;
  margin-top: 32px;
}

.program-result__text {
  padding: 0 18px;
  margin: 0;

  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: @txt-color-main;
  text-transform: uppercase;
}

.program-result__slider {
  display: flex;

  list-style: none;

  height: 12px;
  width: 72px;

  padding: 0 5px;

  background-color: #ffffff;

  border: 1px solid @border-color-spec;
  border-radius: 5px;
}

.program-result__button {
  display: block;
  position: relative;

  margin: 3px 0;
  margin-right: 2px;

  width: 35px;
  height: 6px;

  background-color: @bg-color-spec;
  border: none;
  border-radius: 3px;
  outline: none;

  &::after {
    display: block;
    position: absolute;
    content: "";
    width: 35px;
    height: 46px;
    left: 0;
    top: -20px;
  }
}

@media (min-width: @tablet-width) {
  .program-result {
    position: relative;
    width: 100%;
    padding: 24px 0 63px 7px;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 462px;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(to right, #f2f2f2 50%, #eaeaea 50%);
      z-index: -2;
    }
  }

  .program-result__wrapper {
    position: relative;
    width: 690px;
    min-height: 517px;
    margin: 0 auto 17px auto;
  }

  .program-result__img-before {
    position: absolute;
    width: 49%;
    height: 517px;
    top: 0;
    left: 0;
    overflow: hidden;
  }

  .program-result__img-after {
    position: absolute;
    width: 51%;
    height: 517px;
    top: 0;
    right: 0;
    overflow: hidden;
    direction: rtl;
  }

  .program-result__cat {
    &--before {
      width: 690px;
      height: 517px;
    }

    &--after {
      width: 690px;
      height: 517px;
    }
  }

  .program-result__text {
    margin: 0 20px;
    margin-right: 21px;
    margin-top: 2px;
    padding: 0;
    padding-bottom: 6px;

    font-size: 20px;
    line-height: 20px;

    border-bottom: 1px dotted @border-color-dotted;

    &:hover {
      border-bottom: 1px solid @border-color-solid;
    }

    &:active {
      padding-bottom: 7px;
      border: none;
    }
  }

  .program-result__changer {
    width: 708px;
    margin: 0 auto;
    padding: 0;
    padding-right: 13px;
    padding-bottom: 5px;
  }

  .program-result__slider {
    width: 428px;
    height: 6px;

    padding: 0;
    margin-left: 3px;
    margin-top: -4px;

    border: none;
    border-radius: 3px;
    background-color: @bg-color-range;
  }

  .program-result__button {
    position: relative;
    width: 32px;
    height: 32px;

    left: calc(50% - 16px);
    top: -13px;

    margin: 0;
    padding: 0;

    border: 12px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px @border-color-spec, 0 2px 5px 0 rgba(0, 0, 0, 0.15);

    &:hover,
    &:focus {
      box-shadow: 0 0 0 1px @border-color-spec, 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      top: -12px;
      left: calc(50% - 15px);
      width: 30px;
      height: 30px;
      border: 11px solid #ffffff;
      box-shadow: 0 0 0 2px @bg-color-spec, 0 4px 5px 0 rgba(0, 0, 0, 0.3);
    }
  }
}

@media (min-width: @desktop-width) {
  .program-result {
    margin: 0;
    margin-top: -63px;
    width: 610px;
  }

  .program-result__img-before {
  }

  .program-result__cat {
    &--before {
      margin-left: 0;
      left: 1px;
    }
  }

  .program-result__changer {
    padding-top: 579px;
  }

  .program-result__slider {
    margin-left: 4px;
  }

  .program-result__text {
    margin: 0;
    margin-top: 2px;

    &--one {
      margin-right: 20px;
    }

    &--two {
      margin-left: 20px;
    }
  }
}
