.social {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

.social__wrapper {
  min-height: 62px;

  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.social__list {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
  margin-left: -10px;
  margin-top: 22px;
  margin-bottom: 21px;

  list-style: none;
}

.social__item {
  display: block;
  margin: 0 19.25px;

  &:active {
    opacity: 0.3;
  }
}

.social__link {
  display: block;

  background-repeat: no-repeat;

  &--vk {
    width: 22px;
    height: 19px;
  }

  &--inst {
    width: 16px;
    height: 16px;
  }

  &--fb {
    width: 10px;
    height: 19px;
  }
}

.social__link svg {
  fill: @social-color-mobile;

  & .st0 {
    fill: @social-color-mobile;
  }

  &:hover,
  &:hover .st0 {
    fill: @bg-color-spec;
  }
}

@media (min-width: @tablet-width) {
  .social {
    width: auto;
    margin-top: 2px;
  }

  .social__wrapper {
    border: none;
  }

  .social__list {
    margin: 0;
    margin-left: 18px;
  }

  .social__item {
    margin: 0 14px;
  }

  .social__link {
    &--vk {
      width: 30px;
      height: 16px;
    }

    &--inst {
      width: 23px;
      height: 22px;
    }

    &--fb {
      width: 15px;
      height: 28px;
      margin-left: 1px;
    }
  }
}

@media (min-width: @desktop-width) {
  .social {
    padding: 0;
    padding-left: 2px;
  }
}
