.social {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

.social__wrapper {
  min-height: 62px;

  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.social__list {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
  margin-left: -10px;
  margin-top: 22px;
  margin-bottom: 21px;

  list-style: none;
}

.social__item {
  display: block;

  margin: 0 19.25px;
}

.social__link {
  display: block;

  background-repeat: no-repeat;

  &--vk {
    width: 22px;
    height: 12px;

    background-image: url(../img/icon-vk.svg);
  }

  &--inst {
    width: 16px;
    height: 16px;

    background-image: url(../img/icon-insta.svg);
  }

  &--fb {
    width: 10px;
    height: 19px;

    background-image: url(../img/icon-fb.svg);
  }
}
