.user-comment {
  position: relative;
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 28px;

  &::after {
    content: "";
    position: absolute;

    left: 0;
    top: 14px;
    width: 100%;
    height: 3px;

    background-color: @bg-color-spec;
    z-index: -1;
  }
}

.user-comment__title {
  padding-left: 19px;
  padding-right: 23px;
  margin-bottom: 35px;

  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: @txt-color-main;

  background-color: #ffffff;
}

.user-comment__text-area {
  display: block;
  box-sizing: border-box;

  padding: 0;
  padding-top: 12px;
  padding-left: 14px;
  margin: 0 auto;

  width: 264px;
  min-height: 136px;

  letter-spacing: -0.1px;

  border: 1px solid @border-color-rare;

  &:hover {
    border: 1px solid @border-color-spec-half;
    outline: none;
  }

  &:focus {
    padding-top: 11px;
    padding-left: 13px;
    border: 2px solid @txt-color-spec;
    outline: none;
  }
}

@media (min-width: @tablet-width) {
  .user-comment {
    margin-bottom: 65px;

    &::after {
      top: 22px;
    }
  }

  .user-comment__title {
    margin-left: 30px;
    margin-bottom: 76px;
    padding: 0 39px;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 0.1px;
  }

  .user-comment__wrapper {
    margin-left: 70px;
    margin-right: 68px;
  }

  .user-comment__text-area {
    margin: 0 auto;
    padding-top: 9px;
    padding-left: 18px;

    width: 611px;
    min-height: 163px;

    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.06px;

    &:focus {
      padding-top: 8px;
      padding-left: 17px;
    }
  }
}

@media (min-width: @desktop-width) {
  .user-comment {
    width: 100%;
    margin-bottom: 67px;
  }

  .user-comment__title-wrapper {
    width: 100%;
  }

  .user-comment__title {
    margin-left: 70px;
  }

  .user-comment__wrapper {
    margin: 0 110px;
  }

  .user-comment__text-area {
    width: 1200px;
    border: 1px solid @border-color-spec;
  }
}
