@retina-dppx: 1.5dppx;

@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1300px;

@bg-color-main: #f2f2f2;
@bg-color-spec: #68b738;
@bg-color-nutition-wrapper: #65a93c;
@bg-color-range: #dcdcdc;
@bg-color-after: #eaeaea;
@bg-color-btn-hvr-actv: #5eaa2f;

@border-color-main: #ebebeb;
@border-color-base: #ededed;
@border-color-spec: #cdcdcd;
@border-color-spec-hvr-actv: #bababa;
@border-color-spec-half: rgba(205, 205, 205, 0.5);
@border-color-rare: #e6e6e6;
@border-color-dotted: #bebebe;
@border-color-solid: #989898;

@txt-color-main: #111111;
@txt-color-base: #222222;
@txt-color-spec: #444444;
@txt-color-spec-opacity: rgba(44, 44, 44, 0.3);

@social-color-mobile: #666666;
